@model ToWatch.ViewModels.LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>

    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/angularBase/app.js"></script>
    <script src="~/angularBase/controllers/topRatedCtrl.js"></script>
    <script src="~/angularBase/controllers/upcommingCtrl.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
<div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-film"></i> TO WATCH </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">My Watch List</a></li>
                                    <li><a href="#">Settings</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a asp-controller="Auth" asp-action="Logout"><b>Logout</b></a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Auth" asp-action="Login" class="">Login</a></li>
                            <li><a asp-controller="Auth" asp-action="Register" class="">Register</a></li>
                        </ul>                 
                    }
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year Company, Inc..</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)

</div>
</body>
</html>

